<ion-view title="Add">
  <ion-content class="has-header padding">
    <div class="col col-50"><img src="http://placehold.it/100x100"></a></div>
		  <label class="item item-input">
		    <input type="text" placeholder="Product Name">
		  </label>
		  <label class="item item-input">
		    <input type="text" placeholder="SKU #">
		  </label>
		  <label class="item item-input">
		    <input type="text" placeholder="Description">
		  </label>
		  <label class="item item-input">
		    <input type="text" placeholder="Quantity">
		  </label>
		  <label class="item item-input">
		    <input type="text" placeholder="Price">
		  </label>
		  <label class="item item-input">
		    <input type="text" placeholder="Location (ie Facility 2)">
		  </label>
		  <p><button class="button button-block button-calm">Save</button></p>
  </ion-content>
	<div class="tabs tabs-icon-only">
	  <a class="tab-item" href="#/home">
	    <i class="icon ion-home"></i>
	  </a>
	  <a class="tab-item" href="#/user">
	    <i class="icon ion-person"></i>
	  </a>
	  <a class="tab-item tab-item-active" href="#/add">
	    <i class="icon ion-plus-circled"></i>
	  </a>
	  <a class="tab-item" href="#/search">
	    <i class="icon ion-search"></i>
	  </a>
	  <a class="tab-item" href="#/settings">
	    <i class="icon ion-gear-a"></i>
	  </a>
	</div>
</ion-view>
